@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #353b48;
    color: #e4eff0;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer
}

ul li {
    text-decoration: none;
    list-style: none;
}

.btn {
    cursor: pointer;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.js-clock {
    display: block;
    margin-top: 250px;
    margin-bottom: 20px;
}

.js-title {
    font-size: 90px;
    color: white;
    margin: 0;

}

.js-greetings {
    font-size: 26px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
    border-radius: 4px;
}

.td-input {
    outline: none;
    width: 300px;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.td-input:focus::placeholder {
    color: transparent;
    transition: all 0.2s;
}

.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.nameInput {
    outline: none;
    width: 200px;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nameInput:focus::placeholder {
    color: transparent;
    transition: all 0.2s;
}

.showing {
    display: block;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-weather {
    margin-top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}